
   
h1{
    color:rgb(228, 24, 24);
    border: solid beige;
    
}


body{
    background-image: url('Obackground.jpg');
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color:rgb(238, 236, 108);
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
     }


.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    background-color:#6fd5ee;
    
    } 
    .grid img{ 
        border: 2px solid #000000; 
        border-radius: 50px;
     }
         .origami {
              
    border-radius: 20px;
    background-color: #f3b6e6;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
            } 


     a{ 
       text-decoration: none;
     }
     a:link{
          color:white; 
        } 
    a:visited{ 
      color:rgb(165, 32, 32);
         }
             
.bodyimg p{
     color:#bb96a4ee; 
     font-size: 25px;
      font-family: fantasy; 
      position: absolute;
       top:10%; left:50%; 
       transform: translate(-50%,-50%);
     } 
     .bodyimg h3{ color:#9b3d86;
         font-family: fantasy;
          font-size: 20px;
          width: 1600px; 
          position: absolute; 
          top:40%; left:45%; 
          transform: translate(-40%, -40%);
         }
.origami:hover{
     transform: scale(1.2);
     }

